# stm32 keil c build output
**/build
**/build_output
*.bin
*.elf
*.hex
**/Debug
**/STM32F4xx_DSP_StdPeriph_Lib_V1.8.0
**/.vscode
Listings/
si/
*.d
*.crf
*.o
*.axf
# Other information related files
*.bak
*.map
*.txt
*.htm
*.iex
*.sct
*.lnp
*.png
#for MDK-ARM IDE generated user files 
*.uvgui*
*.o*
*.d*
*.crf*
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.sct
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.map
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.lnp
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.htm
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.build_log.htm
src_hal/usart6_transmit_DMA/MDK-ARM/Uart Echo Data Using DMA/Uart Echo Data Using DMA.axf

**/OBJ
**/build_log.txt
.uvoptx